{% extends "base.html" %}

{% block index %}
  <div id="page1">
    <img id="bg_1" src="/static/vote/img/bg_1.jpg" style="width:100%">
  </div>
<script type="text/javascript">
  if ((window.screen.height / window.screen.width)*3 > 5) {
    $('#bg_1').css('height', ($(window).height()));
  }
</script>
{% endblock%}

{% block vote %}

<div>
    <img id="title" src="/static/vote/img/tilte.png" style="width: 100%;">
  </div>
<div id="vote_list">
  {% for production in productions %}
  <ul class="clearing-thumbs clearing-feature " data-clearing>
    <li class="clearing-featured-img">
      
      <a class="th " href="{{ production.get_primary_image_url }}">
        <img data-caption="" src="{{ production.get_primary_image_url }}">
        <div class="play"><span></span></div>
          <div class="vote_bottom">
            <div class="number ">
              <div class="index_num" style="height:20px;">
                <p>{{ production.number }} {{ production.name }}</p>
              </div>
              <div class="vote_num" style="height:20px;">
                <p>{{ production.get_vote_count }} 票</p>
              </div>
            </div>
            <button class="vote " id="{{ production.id }}" style="height:40px;">
              <p>投票</p>
            </button>
        </div>
      </a>
    </li>
    {% for image in production.get_all_image_url %}
    <li>
    <a class="th" href="{{ image }}">
      <img data-caption="" src="{{ image }}">
    </a>
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
</div>

<div id="ruleModal" class=""  style="display: none">
  <div>
    <div style="height:60%">
      <img src="/static/vote/img/rule.png" style="width:30%;">
      <P style="">
        <br>
        1. 本次投票公平公开公正<br>
        2. 每人每天有1次投票机会<br>
        3. 设计师本人可将该页面分享拉票<br>
        4. 作品按票数数值降序排列<br>
        5. 投票时间：9月23日-10月1日<br>
        6. 由于部分作品无设计图, 用文字代替<br>
        备注：获奖者需拟出详细的执行方案及物料清单，并现场协助完成设计作品<br>
        <p>最终解释权归© 成都欢乐谷所有</p>  
      </P>
    </div>
    <div style="height:40%;">
        <img src="/static/vote/img/jp.png" style="width:30%;">
        <P style="tex">
          <br>
          优胜奖（票数最高者）：现金一万元+30个免费入园名额（万圣节期间）+获奖证书<br>
          参与奖：可获得万圣节期间5个免费入园名额<br>
        </P>
    </div>

  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div class="pre" style="display:none;">
  <img src="/static/vote/img/top.png">
</div>

<div class="next">
  <img src="/static/vote/img/bottom.png">
</div>

<div class="top" style="display:none;">
  <a href="#">
    <img src="/static/vote/img/to_top.png">
  </a>
</div>

<div class="footer" >
  <div id="input1" style="display:none;">
    <form class="f1 " onsubmit="return false;">
        <input type="text" placeholder="万圣节" class="input1" style="margin:0;color:white;">
        <button class="btn1" onclick="input1hide();">取消</button>
    </form>
</div>
  <ul class="small-block-grid-2" style="">
    <li class="rule">
      <a href="#" >规则&奖品</a>
    </li>
    <li class="input">
      <a  >搜索</a>
    </li>
  </ul>
</div>

<style type="text/css">
  .th {
    border: solid 6px #111010;
  }
  #vote_list {
    background: url(/static/vote/img/bg_2.png);
    background-size: 100%;
    background-size: contian;
    /*padding-top: 32%;*/
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 25%;
    overflow: hidden;
  }
  #vote_list ul {
    width: 100%;
    position: relative;
    float: left;
    max-width: none;
    overflow: hidden;
    margin-bottom: 10px;
    padding: 4px;
  }
  .clearing-thumbs li, .clearing-thumbs a, .clearing-thumbs img {
    width: 100%
  }
  #vote_list p {
    font-size: .8em;
  }
  .vote_bottom {
    height: 40px;
    background: white;
  }
  .number {
    width: 66%;
    height: 40px;
    float: left;
    overflow: hidden;
    text-align: center;
    color: black;
    border-right: dotted 1px;
  }
  .number p {
    color: black;
  }
  .vote {
    width: 34%;
    height: 40px;
    color: white;
    float: left;
    overflow: hidden;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    text-align: center;
  }
  .footer {
    text-align: center;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
  }
  .footer a {
    color: white;
  }
  .footer li {
    padding: 0;
    font-size: 1.2em;
  }
  .rule {
    background-color: #6c8baf;
  }
  .input {
    background-color: #36557f;
  }
  #ruleModal {
    font-size: 2em;
    background-color: black;
    color: #ee8d73;
    position: fixed;
    top: 4%;
    left: 5%;
    right: 5%;
    bottom: 8%;
    padding: 10px;
  }
  #ruleModal a {
    position: absolute;
    top: 0;
    right: 5%;
  }
  .reveal-modal .close-reveal-modal {
    font-size: 32px;
    font-weight: normal;
  }
  input[type="text"] {
    background-color: transparent;
    border: none;
  }
  .input1, input[type="text"]:focus{
      text-align: center;
      vertical-align: center;
      line-height: inherit;
      font-size: 1em;
      background: url("/static/vote/img/input_1.png") no-repeat;
      background-size: 100%;
      width: 100%;
      color: white;
      -webkit-appearance: none;
      outline: none;
      border: none;
  }
  .btn1{
      position: absolute;
      line-height: inherit;
      font-size: 1em;
      -webkit-appearance: none;
      background: transparent;
      color:white;
      border: none;
      outline: none;
      display: block;
      margin: 0;
      padding: 0;
  }
  .f1{
      position: relative;
  }
  .pre {
    position: fixed;
    top:0;
    right: 46%;
  }
  .next {
    position: fixed;
    bottom: 0;
    right: 46%;
  }
  .top {
    width: 15%;
    position: fixed;
    right: 0%;
    padding-right: 2%;
    bottom: 8%;
  }
  .clearing-main-next, .play {
    right: 0;
  }
  .clearing-main-prev, .clearing-main-next, .play {
    height: 100%;
    position: absolute;
    top: 0;
    width: 40px;
  }
  .clearing-main-prev.disabled, .clearing-main-next.disabled {
    opacity: .3;
  }
  .clearing-main-prev {
    left: 0;
  }

  .clearing-main-prev > span, .clearing-main-next > span, .play span {
    border: solid 12px;
    display: block;
    height: 0;
    position: absolute;
    top: 50%;
    width: 0;
  }
  .clearing-main-prev > span {
    left: 5px;
    border-color: transparent;
    border-right-color: #CCCCCC;
  }
  .clearing-main-next > span, .play span {
    border-color: transparent;
    border-left-color: #CCCCCC;
  }
  .play {
    left: 50%;
    top: -10%;
  }
</style>
<script>
    $().ready(function () {
        if ($(window).width() >= 640) {
          $('#ruleModal p').css('font-size', '1em');
        }

        if ($(window).width() <= 320) {
          $('#ruleModal p').css('font-size', '12px');
        }

        var scale=$(window).width()/320;
        if ((window.screen.height / window.screen.width)*3 < 4.5) {
          $('.btn1').css('right',16*scale);
          $('.btn1').css('bottom',20*scale);
        }
        else {
          $('.btn1').css('right',8*scale);
          $('.btn1').css('bottom',10*scale);
        }
        $('.input1').css('height',98*scale);
        $('.input1').css('padding',(58*scale)+'px '+(50*scale)+'px '+(6*scale)+'px '+(62*scale)+'px');

        $(window).scroll(function(){
           var scrollTop = $(this).scrollTop();
           var scrollHeight = $('body').height();
           var windowHeight = $(this).height();
          if(scrollTop + windowHeight > scrollHeight){
            $('.footer').show();
            $('.pre').show();
            $('.top').show();
          }
          else {
            $('.footer').hide();
            $('.pre').hide();
            $('.top').hide();
          }
        });

        $('.input').on("click", function() {
          var attr = $('#input1').css('display')
          if (attr == 'none') {
            $('#input1').css('display', 'block');
          }
          else {
            var value = $('.input1').val();
            if (value) {
              $('.clearing-thumbs').each(function() {
                number_list = $(this).find('.index_num p').text().split(' ');
                if ((value == number_list[0]) || (value == number_list[1])) {
                  $(this).css('display', 'blcok');
                }
                else {
                  $(this).css('display', 'none');
                }
              })              
            }
            else {
              $('.clearing-thumbs').css('display', 'block');
            }

          }
        });

        $('.rule a').on('click', function() {
          event.preventDefault();
          $('#ruleModal').css('display', 'block');
        });

        $('.close-reveal-modal').on('click', function(){
          $('#ruleModal').css('display', 'none');
        });

       $('.clearing-featured-img').on("click", function(){
          var attr = $('.visible-img').css('display');
          $('.vote_bottom').css('display', 'none');
       });

      
      $('.clearing-close').on("click", function(){
          $('.vote_bottom').css('display', 'block');
       });

       $('.vote_bottom').on("click", function() {
          event.preventDefault();
          event.stopPropagation();
       });

      var status = $.cookie('vote')
        if (status) {
          $('.vote').css('background-color', '#656667');
          $('.vote').prop('disabled', true);
      }

      $('.vote').on("click", function(){
        url = '/production/' + this.id + '/'
        var el = this
        $.get(url, function(result){
          if (result) {
            context = result + ' 票'
            $(el).parent().find('.vote_num p').html(context);
          }
        });
        $.cookie('vote', true, { expires: 1 });
        $('.vote').css('background-color', '#656667');
        $('.vote').prop('disabled', true);
      });
      // $('.play').on('click', function(){
      //   event.preventDefault();
      // })
    });

function input1hide(){
  //event.preventDefault();
  $('#input1').hide();
}

</script>
{% endblock %}
